<!--The content below is only a placeholder and can be replaced.-->
<div class="page-container">
  <div class="theme-links">
    <button mat-raised-button color="primary" [routerLink]="''">Standard</button>
    <button mat-raised-button color="primary" [routerLink]="'dark'">Dark</button>
    <button mat-raised-button color="primary" [routerLink]="'blue'">New Bootstrap</button>
    <button mat-raised-button color="primary" [routerLink]="'material'">Material</button>
    <button mat-raised-button color="primary" [routerLink]="'all'">All Themes</button>
  </div>
  <router-outlet></router-outlet>

</div>
