.page-container{
  margin: 0 60px;
  @media only screen and (max-width: 600px) {
    margin: 0;
  }
}
.theme-links{
  display: inline-block;
  margin: 15px 0;
  float: right;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
  button{
    display: inline-block;
    margin-left: 20px;
    color: white;
    background: #232323;
    text-decoration: none;
    border-radius: 3px;

    @media only screen and (max-width: 600px) {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
      margin-left: 0;
    }
  }
}
